<div class="bg-light rounded-6 border border-1 border-df-red pb-4 px-3">
  <h2 class="text-center text-df-red mt-4">Technologies Focused</h2>
  <p class="text-center text-df-dark">
    This DevFest we are focusing on the technologies that are trending in the market and are in demand.<br>Let's come
    together and learn about these technologies from industry leading experts.
  </p>
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <a *ngFor="let tech of techs" href="{{ tech.link }}" target="_blank" rel="noopener noreferrer"
      class="text-decoration-none p-2" title="{{tech.name}}">
      <img src="{{ tech.logo }}" alt="{{ tech.name }}" class="img-fluid"  />
    </a>
  </div>
</div>
