.accordion {
  --mdb-accordion-active-color: var(--devfest-red);
  --mdb-accordion-btn-focus-border-color: var(--devfest-red);
  --mdb-accordion-btn-active-icon: url("../../../assets/icons/chevron-down.svg");
}
