<div class="row justify-content-center mx-0">
  <div class="col-md-10 col-sm-11">
    <div style="height: 80px"></div>
  </div>
  <div class="mt-5 col-md-10 col-sm-11">
    <div class="row">
      <div class="col-lg-7 pe-md-5 mt-3 mt-lg-0">
        <h2 class="text-black fw-bold">Frequently Asked Questions</h2>
        <p>Need answers? Here is everything you need to know.</p>
        <div class="mt-4">
          <mdb-accordion>
            @for (faq of faqs; track $index) {
            <mdb-accordion-item>
              <ng-template mdbAccordionItemHeader>{{
                faq.question
              }}</ng-template>
              <ng-template mdbAccordionItemBody>
                <p [innerHTML]="faq.answer"></p>
              </ng-template>
            </mdb-accordion-item>
            }
          </mdb-accordion>
        </div>
      </div>
      <div class="col-lg-5">
        <img
          src="assets/images/faqs.svg"
          alt=""
          class="img-fluid object-cover"
        />
      </div>
    </div>
  </div>
</div>
<div class="mt-5"></div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
