<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a
        href="https://x.com/gdgjalandhar"
        target="_blank"
        aria-label="Join us on X"
        class="me-4 text-reset"
      >
        <i class="fab fa-x-twitter"></i>
      </a>
      <a
        href="https://instagram.com/gdgjalandhar"
        target="_blank"
        aria-label="Join us on Instagram"
        class="me-4 text-reset"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://in.linkedin.com/company/gdgjalandhar"
        target="_blank"
        aria-label="Join us on LinkedIn"
        class="me-4 text-reset"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://whatsapp.com/channel/0029Va5ofaIDTkJzoS3GkD0r"
        target="_blank"
        aria-label="Join our Whatsapp Channel"
        class="me-4 text-reset"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
      <a
        href="https://github.com/GDG-Jalandhar"
        target="_blank"
        aria-label="Find us on GitHub"
        class="me-4 text-reset"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://gdg.community.dev/gdg-jalandhar"
        target="_blank"
        aria-label="Join our Community"
        class="me-4 text-reset"
      >
        <i class="fab fa-google"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-5 col-lg-6 col-xl-6 mx-auto mb-4">
          <!-- Content -->
          <div class="mb-4 w-100">
            <img
              src="assets/images/logo/GDG-Jalandhar-logo.svg"
              alt="GDG Jalandhar Logo"
              loading="lazy"
            />
          </div>
          <p style="text-align: justify">
            <strong>Google Developers Group Jalandhar</strong> is an initiative
            to concentrate the efforts of many developers in and around Punjab
            to learn, share, and get productive using the various Google
            Products and Technologies.
          </p>
          <div>
            <a
              class="btn btn-outline-primary btn-rounded"
              target="_blank"
              href="https://gdg.community.dev/gdg-jalandhar"
              role="button"
              >Join GDG Jalandhar</a
            >
          </div>
          <p class="mt-2">
            Reach us at
            <a
              class="text-df-red"
              target="_blank"
              href="mailto:hello@gdgjalandhar.com"
              role="button"
              >hello&#64;gdgjalandhar.com</a
            >
          </p>
        </div>

        <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">
          <h4 class="text-uppercase fw-bold mb-4">Useful links</h4>
          <p>
            <a
              href="https://devfest.gdgindia.dev/"
              target="_blank"
              class="text-reset"
              >DevFest 2025</a
            >
          </p>
          <p>
            <a
              href="https://developers.google.com/community/gdg"
              target="_blank"
              class="text-reset"
              >About GDG Program</a
            >
          </p>
          <p>
            <a
              href="https://developers.google.com/womentechmakers"
              target="_blank"
              class="text-reset"
              >About WTM Program</a
            >
          </p>
          <p>
            <a
              href="https://developers.google.com/community-guidelines"
              target="_blank"
              class="text-reset"
              >Community Guidelines</a
            >
          </p>
          <p>
            <a href="#" class="text-reset">FAQs</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
