<div class="banner-container">
  <!-- <img src="assets/images/devfest-gdg-jalandhar-banner.svg" alt="" loading="lazy" class="w-100 img-fluid rounded-6"> -->
  <img class="w-100 img-fluid rounded-6" src="assets/images/DevFest-Jalandhar-WebHeader-2650.svg"
    alt="DevFest Jalandhar by GDG Jalandhar"
    srcset="assets/images/DevFest-Jalandhar-WebHeader-640.svg 640w, assets/images/DevFest-Jalandhar-WebHeader-1440.svg 1440w, assets/images/DevFest-Jalandhar-WebHeader-2650.svg 2650w"
    loading="lazy" />
</div>
