<div>
  <h2 class="text-dark text-center display-3">
    Sponsors & Partners
  </h2>
  <section class="mt-4">
    <h2 class="text-dark text-center display-5">
      Our Sponsors
    </h2>
    <div class="mt-4 d-flex w-100 justify-content-center">
      <app-partner [partner]="googleForDevelopers"></app-partner>
    </div>
  </section>
<hr class="mt-5 text-df-red"/>
  <section class="mt-4" *ngIf="communityPartners.length > 0">
    <h3 class="text-dark text-center display-5">
      Community Partners
    </h3>
    <div class="mt-4 d-flex w-100 justify-content-center flex-wrap">
      <div class="px-2 d-flex my-2" *ngFor="let partner of communityPartners">
        <app-partner [partner]="partner"></app-partner>
      </div>
    </div>
  </section>
</div>
