
  <a *ngIf="!partner.addName" href="{{partner.link}}" target="_blank" [title]="partner.name" class="d-block bg-light p-3 border border-2 border-df-red rounded-6">
    <img [src]="partner.image" alt="{{partner.name}} logo" class="img-fluid"  />
  </a>

  <a *ngIf="partner.addName" href="{{partner.link}}" target="_blank" [title]="partner.name" class="d-flex justify-content-center align-items-center bg-light p-3 border border-2 border-df-red rounded-6">
    <img [src]="partner.image" alt="{{partner.name}} logo" class="img-thumbnail square"  />
    <p class="ms-3 mb-0 text-df-dark lead">{{partner.name}}</p>
  </a>

