a {
  width: 260px;
  height: 80px;
  .img-thumbnail {
    &.square {
      width: 25%;
      height: 75px;
      object-fit: contain;
      box-shadow: none;
      border: 0px none transparent;
      border-radius: 0px;
      background-color: transparent;
    }
  }
}
