<div class="row justify-content-center">
  <div class="mt-4 col-md-10 col-sm-11 position-fixed p-0">
    <app-navbar></app-navbar>
  </div>
  <div class="col-md-10 col-sm-11">
    <div style="height: 80px;"></div>
  </div>
  <div class="mt-4 col-md-10 col-sm-11">
    <app-header></app-header>
  </div>
  <div class="mt-5 col-md-10 col-sm-11 smt" id="about">
    <app-info></app-info>
  </div>
  <div class="mt-5 col-md-10 col-sm-11 smt" id="tech">
    <app-technologies></app-technologies>
  </div>

  <div class="mt-5 col-md-10 col-sm-11 smt" id="partners">
    <app-partners></app-partners>
  </div>
</div>
<div class="mt-5">
 <app-footer></app-footer>
<div>
