<mdb-tabs [pills]="true" [fill]="true">
  <mdb-tab title="Web Track">
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/images/agenda/web-agenda.webp" alt="Agenda for Web Track" class="img-fluid w-75"
        loading="lazy" />
    </div>
  </mdb-tab>
  <mdb-tab title="Mobile Track">
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/images/agenda/mobile-agenda.webp" alt="Agenda for Mobile Track" class="img-fluid w-75"
        loading="lazy" />
    </div>
  </mdb-tab>
</mdb-tabs>
<hr class="mt-5 text-df-red" />