i {
  &.fa-regular,
  &.fa-solid {
    font-size: 4vw;
    @media only screen and (min-width: 576px) {
      font-size: 3.2vw;
    }
    @media only screen and (min-width: 768px) {
      font-size: 2.2vw;
    }
    @media only screen and (min-width: 1200px) {
      font-size: 1.8vw;
    }
    @media only screen and (min-width: 1600px) {
      font-size: 1.2vw;
    }
  }
}
.ae-ticket-book-button {
  background-color: var(--devfest-red);
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  &::after {
    display: none;
  }
  &:hover {
    border: 2px solid var(--devfest-red);
    color: var(--devfest-red);
    background-color: white;
  }
}
