<div class="rounded-6">
  <div class="row">
    <div class="col-lg-7 pe-md-5">
      <div class="row">
        <div class="col-12">
          <!-- <h1 class="text-dark display-2">
            DevFest Jalandhar 2025
          </h1> -->
          <div>
            <img src="assets/images/logo/devfest-jalandhar-logo-2024.svg" alt="DevFest Jalandhar 2025 Logo"
              class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="row text-black mt-5">
        <div class="col-12">
          <div class="d-flex align-items-center">
            <i class="fa-regular fa-calendar"></i>
            <p class="ms-2 mb-0 lead">November 29, 2025</p>
          </div>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-regular fa-clock"></i>

            <p class="ms-2 mb-0 lead">08:30 am - 05:00 pm</p>
          </div>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-solid fa-location-dot"></i>
            <p class="ms-2 mb-0 lead">Lovely Professional University, Jalandhar</p>
          </div>
          <div class="mt-3 book-now">
            <!-- <a
              class="btn btn-outline-primary btn-rounded"
              href="https://bit.ly/dfj-venue"
              target="_blank"
              role="button"
              >Navgate to venue</a
            > -->

            <button data-event-id="80003152654047" data-ticket-id="0"
              class="ae-ticket-book-button btn btn-primary btn-rounded rounded-pill" data-aff="u0">
              Register Now
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <p class="text-df-dark lead" style="text-align: justify">
            <strong class="text-dark">DevFest Jalandhar</strong> is one of the
            biggest tech conferences in North India. It is a completely
            volunteer-led and community-driven conference hosted by GDG
            Jalandhar. The event will have multiple tracks and sessions on
            different technologies and will be conducted by industry experts.
            The motive of this event is to bring the Developer Community of
            Punjab and Chandigarh under one roof, providing them chance to
            network with each other and industry experts.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <img src="assets/images/devfest-jalandhar-2022.webp" alt=""
        class="border border-2 border-dark h-100 img-fluid object-cover rounded-6" />
    </div>
  </div>
</div>